.body {
  margin-bottom: 10rem;
}

.bodyImageContainer {
  width: 100%;
  height: 100%;
}

.body div form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
