.mainContainer {
  display: flex;
  flex-direction: column;
}

.headerContainer {
  position: relative;
  height: 65vh;
  overflow: hidden;
}

.cardsContainer {
  margin: 10rem auto; 

  display: grid;
  grid-template-columns: 1fr 1fr;  
  gap: 10rem;
}

.scheduleTableContainer h3{
  margin-bottom: 1rem;
  text-align: center;
  font-size: 15pt;
}

.scheduleTableContainer table{
  width: 100%;
  text-align: center;
}

.scheduleTableContainer table tr td:nth-child(2n){
  text-align: right;
}

#highlight {
  color: var(--primary);
  font-weight: bold;
}

.contactFormContainer {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
}

.disclaimer{
  display: flex;
  font-size: 12pt;
  color: gray;
  align-items: center;
  gap:5px;
  font-style: italic;
  margin: 2rem 0;
}

.contactFormContainer h1 {
  font-weight: 100;
}

.contactFormContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.contactFormContainer form div {
  display: flex;
}

.contactFormContainer form label {
  font-size: 10pt;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.contactFormContainer form label input{
  height: 45px;
  width: 15rem;
  background-color: var(--septiary);
  border: none;
  border-radius: 8px;
  margin-top: 5px;
  margin-left: -1rem;
  padding: 1rem;
  color: var(--quinquernary);
}

.contactFormContainer form label textarea {
  width: 51rem;
  height: 20rem;
  background-color: var(--septiary);
  border: none;
  border-radius: 8px;
  margin-top: 5px;
  margin-left: -1rem;
  padding: 1rem;
  color: var(--quinquernary);
  resize: none;
}

.mapContainer iframe {
  width: 100%;
  height: 30rem;
  border: none;
  margin: 2rem 0;
}