.main_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.main_container p {
    font-size: 1.5rem;
    font-weight: bold;
}

.image_container {
    display: flex;
    justify-content: center;
}

.image_container img {
    max-width: 70%;
}
