.footer {
    margin-top: 10.5rem;
}

.footer h2 {
    color: var(--quinquernary);
    font-size: 25pt; 
}

.patrocinadores {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 44.1875rem; /* temporário */
}

.organization {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;


}

.logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.67625rem;

    margin-top: 4.375rem;
}


.organizationImage {
    width: 13.6875rem; 
    height: 10.4375rem;
}

.logo {
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

.bottomFooter {
    display: flex;
    height: 15rem;
    background: var(--sextiary);
    overflow: hidden;
}

.mascotContainer {
    position: relative;
    top: -3rem;
    left: -2rem;
}

.mascot{
    height: 30rem;
}

.anotations {
    margin-top: 2rem;
    color: var(--quinquernary)
}

.anotations p {
    font-size: 8pt;
}

.contact {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
    font-size: 12pt;
}

.contact h3 {
    color: var(--quinquernary);
    margin-bottom: 1.5rem;
}

.contactInfo {
    display: flex;
    flex-direction: row;
    gap: 0.9rem;
}

.contactIcons {
    display: flex;    
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 3rem;
    font-size: 40pt;
    gap: 5px;
    color: var(--quinquernary)
}

.anotations > p {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #7E7A72;
}