.footer {
    height: 20rem;
    padding-top: 5rem;
}

.footer h2 {
    color: var(--quinquernary);
    font-size: 25pt; 
}

.sponsorImg{
    width: 15rem;
}

.sponsorContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10rem;
}

.sponsorContainer h2 {
    margin-bottom: 2rem;
}

.sponsorLogosContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
}

@media (max-width: 1100px) {
    .sponsorLogosContainer {
        flex-direction: column;
        align-items: center;
    }

    .sponsorImg {
        margin: 1rem 0;
    }
}

.organization {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.67625rem;

    margin-top: 4rem;
}

@media (max-width: 1100px) {
    .logos {
        flex-direction: column;
    }

    .organizationImage {
        margin: 1rem 0;
    }
}


.organizationImage {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 10rem; 
    height: 7rem;
}

.logo {
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

.bottomFooter {
    display: flex;
    height: 15rem;
    background: var(--sextiary);
    overflow: hidden;
}


.mascotContainer {
    position: relative;
    top: -3rem;
    left: -2rem;
}

@media (max-width: 1100px) {
    .bottomFooter {
        flex-direction: column;
        height: fit-content;
    }

    .mascotContainer {
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .mascot {
        width: 80%;
    }
}

.mascot{
    height: 30rem;
}

.anotations {
    margin-top: 2rem;
    color: var(--quinquernary)
}

.anotations p {
    font-size: 8pt;
}

.contact {
    display: flex;
    gap: 6rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
    font-size: 12pt;
}

@media (max-width: 1100px) {
    .contact {
        flex-direction: column;
    }

    #credits {
        width: 60%;
        margin: 7rem auto;
        text-align: center;
    }

    .contactInfo {
        margin: 1rem 0;
    }
}

.contact h3 {
    color: var(--quinquernary);
    margin-bottom: 1.5rem;
}

.contactInfo {
    display: flex;
    flex-direction: row;
    gap: 0.9rem;
}

.contactIcons {
    display: flex;    
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 3rem;
    font-size: 40pt;
    gap: 5px;
    color: var(--quinquernary)
}

.anotations > p {
    text-transform: uppercase;
    color: #7E7A72;
}