.main_scroll_button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container_scroll_button {
  width: 50px;
  height: 50px;
  background-color: var(--primary);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;
}

.container_scroll_button:hover {
  transform: rotate(360deg) scale(1.2);
}

.container_scroll_button:hover ~ .description_scroll_button{
  margin-bottom: 30px;
  opacity: 1;
}

.description_scroll_button {
  position: absolute;
  text-align: center;
  font-size: 10pt;
  line-height: 0px;
  background-color: var(--primary);
  padding: 0px 20px;
  width: 220px;
  bottom: 40px;
  border-radius: 20px;
  opacity: 0;
  transition: .3s;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description_scroll_button p {
  color: var(--dark_blue);
  font-weight: bold;
  margin: 10px 10px;
}