.boxRight{
    margin-right: -42px;
    width: 40vw;
    height: 70vh;
}
.boxLeft{
    margin-left: -42px;
    width: 40vw;
    height: 70vh;
}
.topcomLogo{
    display: flex;
    width: 100%;
    height: 140px;
    justify-content: flex-start;
    margin-bottom: -30px;
}
.topcomLogoRight{
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: flex-end;
    margin-bottom: -30px;
}
.topcomLogo img{
    width: auto;
    height: 100%;
    object-fit: scale-down;
}
.topcomLogoRight img{
    height: 100%;
    width: auto;
    object-fit: scale-down;
}
.title{
    font-size: 2rem;
    font-weight: bold;
    color: var(--quinquernary);
}
.year{
    font-size: 1.15rem;
    color: var(--primary);
}
.description{
    font-size: 1.15rem;
    font-weight: 500;
    padding-top: 20px;
    color: var(--quinquernary);
}
.textRight{
    padding-right: 10vw;
    text-align: start;
}
.textLeft{
    padding-left: 10vw;
    text-align: end;
}
.line{
    height: 5px;
    width: 100%;
    background-color: var(--quinquernary);
}
.lineContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgOnRight{
    width: 100%;
    height: 100%;
}